.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.monBouton {
  background-color: rgb(175, 98, 25);
  color: white;
  padding: 10px 20px;
  border-radius: 20%;
  cursor: pointer;
}

.image{
  height: 20px;
  padding: 10px 10px;
}

#devises-select1{
  height: 40px;
  width: 150px;
  background : linear-gradient(to right, #549cbf,#7d90e1,#552fb2) ;
  border-radius: 8%;
}

#devises-select2{
  background-color: blue;

}

#nombre.error {
  border: 2px solid red;
}

.error{
    color: red;
}
#nombre.error {
  border: 2px solid red;
}
